<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thales</title>
    <script src="../wwwroot/js/components/CaixaStatus"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/voltandoClasseStartup.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DASHBOARD GERAL</a>
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index"></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="dropdown">

                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    ETAPAS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Kit" asp-action="Index">KITS</a>

                                    <a class="dropdown-item" asp-controller="CaixaInner" asp-action="Index">CAIXA
                                        INNER</a>
                                    <a class="dropdown-item" asp-controller="CaixaOuter" asp-action="Index">CAIXA
                                        OUTER</a>
                                    <a class="dropdown-item" asp-controller="Pallet" asp-action="Index">PALLET</a>



                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>


        </nav>
    </header>
    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>