@{
    ViewData["Title"] = "Login";
}

<head>

       <link rel="stylesheet" href="~/css/Login.css">
    
</head>

<div class="container-login">
    <div class="container-up">
        <div class="img">
            <img src="https://static.wixstatic.com/media/e1f781_0427c2b4360d4058b31105f538819cf1.png/v1/fill/w_189,h_134,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e1f781_0427c2b4360d4058b31105f538819cf1.png" alt="">
        </div>
        
        <h1>LOGIN</h1>

    </div>

    <div class="login">
        <form method="post">
            <div class="container-email">
            <Label id="email" inpi>Email</Label>
            <input type="text">
            </div>
        <div class="container-senha">
            <Label id="senha">Senha</Label>
            <input type="text">
           
        </div>
    <div class="button">
        <button class="button-action">SAIR</button>
        <button class="button-action">ENTRAR</button>
    </div>
        </form>
        
    </div>

</div>

    

