@* @model IEnumerable<KitModel> *@

<head>
    <link rel="stylesheet" href="~/css/Data.css">
    <script src="~/js/kit.js" defer></script>
    <link rel="stylesheet" href="~/css/Kit.css">
</head>
<div class="container-kit">

    <div class="container-status">
        <h1>Status</h1>
        <div id="nao-iniciado" class="situacao">NÃO INICIADO</div>
    </div>

    <div class="container-header">

        <div class="data">
            <div class="data-title">DATA HOJE:</div>
            <div id="data-hoje">
                <h1>AGO 9 SEG</h1>
            </div>
        </div>

        <div class="container-button-iniciar-leitura">
            <div class="button-iniciar-leitura">
                <h2>
                    INICIAR LEITURA
                </h2>
            </div>
        </div>



        <div class="container-situacao">

            <a href="#">
                <div class="card-situacao">
                    <div class="container-quantidade">
                        0
                    </div>
                    <div id="nao-iniciado" class="situacao">
                        NÃO INICIADO
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="card-situacao">
                    <div class="container-quantidade">0</div>
                    <div id="remeker" class="situacao">
                        REMEKER
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="card-situacao">
                    <div class="container-quantidade">0</div>
                    <div id="finalizados" class="situacao">
                        FINALIZADOS
                    </div>
                </div>
            </a>




        </div>


    </div>




    @* <table class="table table-dark table-houver">
    <thead>
    <tr>
    <th scope="col">ITEM</th>
    <th scope="col">ICCID</th>
    <th scope="col">OPÇÃO</th>

    </tr>
    </thead>

    <tbody>

    @if (Model != null)
    {

    @foreach (var Arquivo in Model)
    {
    <tr>
    <th scope="row">@Arquivo.Codigo</th>
    <th scope="row">@Arquivo.Iccid</th>
    <th scope="row">
    <button onclick="window.print()">IMPRIMIR</button>
    </th>

    </tr>
    }
    }
    </tbody>
    </table> *@
</div>