.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10%;

}
.data-title{
    margin-top: 20px;
}

.container-datas{
   margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
  
}