.container-status {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 70px;
    margin-top: 16px;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.container-situacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    gap: 100px;
}

.card-situacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 25vh;
    width: 15vw;
    gap: 1em;
    background-color: white;
}


.container-quantidade {
    display: inline-flex;
    height: 10vh;
    font-size: 3em;

    justify-content: center;
    align-items: center;

}

.container-quantidade .situacao {
    text-decoration: none;
}

.situacao {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 5vh;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black
}

#nao-iniciado {
    background-color: rgb(160, 160, 160);
}

#producao {
    background-color: rgb(106, 184, 229);
}

#atrasados {
    background-color: rgb(238, 68, 85);
}

#pausados {
    background-color: rgb(246, 231, 97);

}

#finalizados {
    background-color: rgb(107, 219, 105);

}

#remeker {
    background-color: rgb(97, 38, 153);
}


.container-button-iniciar-leitura {
    background-color: aquamarine;
    

}

.button-iniciar-leitura {
    width: 260px;
    height: 47px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: solid 2px black;
    cursor: pointer;
}

.button-iniciar-leitura h2 {
    
    font-size: 20px;

}