html {
  font-size: 14px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: rgb(170,170,170);
}


header{
  background-color: rgb(217,217,217);

  
}

footer{
  height: 10%;
  background-color: rgb(217,217,217);
}